<form class="card" (ngSubmit)="save()">
  <div class="card-body">
    <h3>Add Product</h3>
    <div class="form-group row">
      <label for="pname" class="col-sm-2 col-form-label">Product name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="pname" id="pname" [(ngModel)]="product.name" placeholder="Product name">
      </div>
    </div>
    <div class="form-group row">
      <label for="sno" class="col-sm-2 col-form-label">Product Serial Number</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="sno" id="sno" [(ngModel)]="product.sno" placeholder="Product Serial Number">
      </div>
    </div>
    <div class="form-group row">
      <label for="qty" class="col-sm-2 col-form-label">Quantities Received</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="qty" id="qty" [(ngModel)]="product.qty" placeholder="Quantities Received">
      </div>
    </div>
    <div class="form-group row">
      <label for="ppu" class="col-sm-2 col-form-label">Price Per Unit</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="ppu" id="ppu" [(ngModel)]="product.ppu" placeholder="Price Per Unit">
      </div>
    </div>
    <div class="form-group row">
      <label for="vname" class="col-sm-2 col-form-label">Vendor Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="vname" id="vname" [(ngModel)]="product.vname" placeholder="Vendor Name">
      </div>
    </div>
    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
  </div>
</form>
