<h2>Inventory Tracking</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Quantity</th>
        <th>Product Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of products">
        <td>{{product.name}}</td>
        <td>{{product.available}}</td>
        <td>{{product.ppu}}</td>
      </tr>
    </tbody>
  </table>
</div>