<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inbound']" routerLinkActive="active">
          <span data-feather="home"></span>
          Inbound <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sale']" routerLinkActive="active">
          <span data-feather="file"></span>
          Sale
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sales-track']" routerLinkActive="active">
          <span data-feather="shopping-cart"></span>
          Sales Tracking
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inventory-track']" routerLinkActive="active">
          <span data-feather="users"></span>
          Inventory Tracking
        </a>
      </li>
    </ul>
  </div>
</nav>
