<div>
  <div class="form-group row">
    <label for="pname" class="col-sm-2 col-form-label">Product name</label>
    <div class="col-sm-10">
      <!-- <ng-select class="bg-white" id="pname" [allowClear]="true" [multiple]="false" (selected)="selectedProduct($event)"
        (removed)="removedProduct($event)" [items]="products" placeholder="Select product" [(ngModel)]="sale.pname"
        name="pname">
      </ng-select> -->
      <!-- <input type="text" class="form-control" name="pname" id="pname" [(ngModel)]="sale.pname" placeholder="Product name"> -->
      <!-- (typed)="typed($event)" -->
      <ng-select [allowClear]="true" [items]="items" (selected)="selected($event)" placeholder="Product Name">
      </ng-select>
    </div>
  </div>
  <div class="form-group row">
    <label for="psno" class="col-sm-2 col-form-label">Product Serial Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="psno" id="psno" [(ngModel)]="sale.psno" placeholder="Product Serial Number"
        readonly>
    </div>
  </div>
  <div class="form-group row">
    <label for="price" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="price" id="price" [(ngModel)]="sale.price" placeholder="Price"
        readonly>
    </div>
  </div>
  <div class="form-group row">
    <label for="qty" class="col-sm-2 col-form-label">Quantity</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="qty" id="qty" [(ngModel)]="sale.qty" placeholder="Quantity"
        (ngModelChange)="changeItemPrice()">
    </div>
  </div>
  <div class="form-group row">
    <label for="iprice" class="col-sm-2 col-form-label">Item price</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="iprice" id="iprice" [(ngModel)]="sale.iprice" placeholder="Item price"
        readonly>
    </div>
  </div>
  <hr>
</div>
