<div>
  <input type="text" name="daterange" id="drp" value="01/01/2018 - 01/15/2018" />
  <!-- jquery.mobile.structure-1.4.5.min -->
  <div *ngFor="let sale of selectedSales">
    <div class="card m-2">
      <div class="card-body">
        <h3>Customer name: {{sale.cname}}</h3>
        <p class="tex-muted">Invoice number: {{sale._id}}</p>
        <p class="tex-muted">Order date: {{sale.cdate}}</p>
        <h4>Total price: {{sale.tprice}}</h4>
        <h5>Products</h5>
        <div *ngFor="let product of sale.products" class="card m-1">
          <div class="card-body">
            <h4>Product name: {{product.pname}}</h4>
            <div class="ml-auto">
              price x qty: {{product.price}} x {{product.qty}}
            </div>
            <div class="ml-auto">
              Item price: {{product.iprice}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
