<form (ngSubmit)="buy()">
  <div class="card">
    <div class="card-body">
      <div>
        <h3>Customer Info</h3>
        <div class="form-group row">
          <label for="cname" class="col-sm-2 col-form-label">Customer name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="cname" id="cname" [(ngModel)]="sale.cname" placeholder="Customer name">
          </div>
        </div>
        <div class="form-group row">
          <label for="caddr" class="col-sm-2 col-form-label">Customer address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="caddr" id="caddr" [(ngModel)]="sale.caddr" placeholder="Customer address">
          </div>
        </div>
        <!-- <div class="form-group row">
          <label for="cdate" class="col-sm-2 col-form-label">Current date</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="cdate" [(ngModel)]="sale.cdate" placeholder="Current date">
          </div>
        </div> -->
        <hr>
      </div>
      <div>
        <h3>Product Info</h3>
        <div *ngFor="let product of sale.products">
          <app-sale-item [sale]="product"></app-sale-item>
        </div>
        <button class="btn btn-primary btn-sm" type="button" (click)="addAnotherProduct()">
          Add another product
        </button>
        <hr>
      </div>
      <div>
        <h3>Total Price</h3>
        <div class="form-group row">
          <label for="tprice" class="col-sm-2 col-form-label">Total Price</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="tprice" [(ngModel)]="sale.tprice" placeholder="Total price"
              readonly>
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-sm mx-auto" type="submit">Buy</button>
    </div>
  </div>

</form>
